.center-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.3rem;
}

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
  background: none;
  border: none;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  right: 0;
  width: 12px;
  height: 2px;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
  width: 24px;
}

.hamburger-bottom {
  transform: translateY(14px);
  margin-right: 12px;
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
  width: 24px;
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
  width: 24px;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.menu-nav {
  display: none;
  background: #fff;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
  padding: 20px;
  margin-top: 10px;
}

.menu-nav.show {
  display: flex;
}

.menu-nav a:hover {
  color: grey;
}
